body {
  color: var(--primary-text-color);
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  color: inherit;
}

.section-title {
  color: var(--title-text-color);
  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  letter-spacing: 0.04em;
}

.pre-title {
  color: var(--pre-title-text-color);
  font-family: 'Titan One', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}
