@import './utils/vars';
@import './utils/hidden';
@import './utils/animation';
@import './base/reset';
@import './base/container';
@import './components/button';
@import './components/cards';
@import './components/backdrop';
@import './components/modal';
@import './components/map';
@import './components/franchise';
@import './components/arrow-to-top';
@import './layout/header';
@import './layout/hero';
@import './layout/mob-menu';
@import './layout/products';
@import './layout/about';
@import './layout/advantages';
@import './layout/gallery';
@import './layout/reviews';
@import './layout/contacts';
@import './layout/footer';
