:root {
  --primary-text-color: #907e82;
  --secondary-text-color: #ffffff;
  --third-text-color: #000000;
  --title-text-color: #d41443;
  --pre-title-text-color: #ffa5ba;
  --accent-text-color: #d41443;
  --accent-text-color: #d41446;
}
