:root {
  --primary-text-color: #907e82;
  --secondary-text-color: #ffffff;
  --third-text-color: #000000;
  --title-text-color: #d41443;
  --pre-title-text-color: #ffa5ba;
  --accent-text-color: #d41443;
  --cafe-bg-color: #f0d1a5;
  --food-track-bg-color: #c2e297;
  --pink-section-bg: #fff5f6;
  --lines-color: #e1e1e1;
}
