<section class="contacts" id="contacts">
  <div class="container contacts__relative">
    <h2 class="contacts__title section-title visually-hidden">Contacts</h2>
    <ul class="contacts__list cards">
      <!-- 1st item -->
      <li class="contacts__item cards__item">
        <p class="cards__type cards__type--cafe">Cafe</p>

        <p class="cards__location">Chicago</p>
        <p class="cards__descr">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <ul class="cards__time-list">
          <li class="cards__time-item">
            <p class="cards__day-work">Monday - Friday</p>
            <p class="cards__time-work">06:00 AM - 10:00 PM</p>
          </li>
          <li class="cards__time-item">
            <p class="cards__day-work">Saturday - Sunday</p>
            <p class="cards__time-work">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <a class="cards__link" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="cards__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
      <!-- 2nd item -->
      <li class="contacts__item cards__item">
        <p class="cards__type cards__type--food-track">Food track</p>

        <p class="cards__location">Los Angeles</p>
        <p class="cards__descr">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <ul class="cards__time-list">
          <li class="cards__time-item">
            <p class="cards__day-work">Monday - Friday</p>
            <p class="cards__time-work">06:00 AM - 10:00 PM</p>
          </li>
          <li class="cards__time-item">
            <p class="cards__day-work">Saturday - Sunday</p>
            <p class="cards__time-work">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <a class="cards__link" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="cards__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
      <!-- 3rd item -->
      <li class="contacts__item cards__item">
        <p class="cards__type cards__type--cafe">Cafe</p>

        <p class="cards__location">New York</p>
        <p class="cards__descr">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <ul class="cards__time-list">
          <li class="cards__time-item">
            <p class="cards__day-work">Monday - Friday</p>
            <p class="cards__time-work">06:00 AM - 10:00 PM</p>
          </li>
          <li class="cards__time-item">
            <p class="cards__day-work">Saturday - Sunday</p>
            <p class="cards__time-work">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <a class="cards__link" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="cards__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
    </ul>
    <div class="contacts__buttons">
      <button class="contacts__btn" type="submit" data-map-open>
        Our Locations
        <svg class="contacts__btn-arrow" height="8" width="6">
          <use href="./images/sprite.svg#vector-white"></use>
        </svg>
      </button>
      <button class="contacts__btn" type="submit" data-franc-open>
        Franchise
        <svg class="contacts__btn-arrow contacts__btn-arrow--red" height="8" width="6">
          <use href="./images/sprite.svg#vector"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
