<footer class="footer">
  <div class="container">
      <div class="footer__wrapper">
          <div class="footer__text-container">
    <p class="footer__pre-text">homemade ice cream made</p>
    <p class="footer__text">with passion</p>
    </div>
    <div class="footer__social-container">
    <ul class="footer__social-list">
      <li class="footer__social-item">
           <a class="footer__social-link" href="https://github.com/" target="_blank" rel="noopener noreferrer"
                  ><svg class="footer__social-icon " width="20" height="20">
                    <use href="./images/sprite.svg#icon-git-hub"></use>
                  </svg>
      </li>
      <li class="footer__social-item">
            <a class="footer__social-link" href="https://web.telegram.org/k/" target="_blank" rel="noopener noreferrer"
                  ><svg class="footer__social-icon " width="19" height="15">
                    <use href="./images/sprite.svg#icon-telegram"></use>
                  </svg>
      </li>
      <li class="footer__social-item">
            <a class="footer__social-link" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"
                  ><svg class="footer__social-icon " width="9" height="19">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
      </li>
    </ul>
    <div class="footer__tel-wrapper">
      <p class="footer__tel-pre-text">Feel free to contact </p>
      <a class="footer__tel-link" href="tel:+610383766284"> +61 (0) 383 766 284</a>
    </div>
    </div>
    </div>
    </div>
    <span class="footer__line" ></span>
    <div class="container">
    <p class="footer__text-after-line">© 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
