<section class="gallery">
  <div class="container">
    <picture class="gallery__picture">
      <source
        srcset="
          ./images/gallery/gallery-dek-x1-min.jpg 1x,
          ./images/gallery/gallery-dek-x2-min.jpg 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/gallery/gallery-tab-x1-min.jpg 1x,
          ./images/gallery/gallery-tab-x2-min.jpg 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/gallery/gallery-mob-x1-min.jpg 1x,
          ./images/gallery/gallery-mob-x2-min.jpg 2x
        "
      />
      <img src="./images/gallery/gallery-mob-x1-min.jpg" alt="foto" />
    </picture>
  </div>
</section>
