<header class="header" id="header">
<div class="header-container container">
    <a href="" class="header__logo">
        <img src="../images/header/logo.png" alt="logo icecream">
    </a>
  <nav class="header-navigation">
        <ul class="header-list">
            <li class="header-list__item">
                <a class="header-list__link current" href="">Home</a>
            </li>
            <li class="header-list__item">
                <a class="header-list__link" href="#">About us</a>
            </li>
            <li class="header-list__item">
                <a class="header-list__link" href="#">How it’s made?</a>
            </li>
            <li class="header-list__item">
                <a class="header-list__link" href="#">Our products</a>
            </li>
            <li class="header-list__item">
                <a class="header-list__link" href="#">Contact</a>
            </li>
        </ul>
   </nav>
   <div class="header__btn">
   <button class="header__btn-modal">Buy now</button>
   </div>
</div>
</header>