<header class="header" id="header">
  <div class="header-container container">
    <a href="" class="header__logo">
      <img src="./images/header/logo.png" alt="icecream" />
    </a>

    <nav class="header-navigation">
      <ul class="header-list">
        <li class="header-list__item">
          <a class="header-list__link-current" href="">Home</a>
        </li>
        <li class="header-list__item">
          <a class="header-list__link" href="#">About us</a>
        </li>
        <li class="header-list__item">
          <a class="header-list__link" href="#">How it’s made?</a>
        </li>
        <li class="header-list__item">
          <a class="header-list__link" href="#">Our products</a>
        </li>
        <li class="header-list__item">
          <a class="header-list__link" href="#">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="burger-button" data-menu-open>
      <svg class="burger" width="20" height="12">
        <use href="./images/sprite.svg#icon-Burger-menu-btn" width="20" heigh="12"></use>
      </svg>
    </button>
    <div class="header__btn">
      <button type="button" class="header__btn-modal" data-modal-open>
        Buy now<svg class="header__btn-logo" width="8" height="8">
          <use href="./images/sprite.svg#icon-vector-btn"></use>
        </svg>
      </button>
    </div>
  </div>
</header>

  <nav class="header-navigation">
        <ul class="header-list">
            <li class="header-list__item">
                <a class="header-list__link current" href="">Home</a>
            </li>
            <li class="header-list__item">
                <a class="header-list__link" href="#">About us</a>
            </li>
            <li class="header-list__item">
                <a class="header-list__link" href="#">How it’s made?</a>
            </li>
            <li class="header-list__item">
                <a class="header-list__link" href="#">Our products</a>
            </li>
            <li class="header-list__item">
                <a class="header-list__link" href="#">Contact</a>
            </li>
        </ul>
   </nav>
   <button type="button" class="burger-button"></button>
   <div class="header__btn">
   <button class="header__btn-modal" data-modal-open>Buy now</button>
   </div>
</div>
</header>

