<header class="header" id="header">
  <div class="header-container container">
    <a href="" class="header__logo animate__animated animate__flip animate__delay-1s">
      <img src="./images/header/logo.png" alt="icecream" />
    </a>

    <nav class="header-navigation">
      <ul class="header-list">
        <li class="header-list__item">
          <a class="header-list__link-current" href="#hero">Home</a>
        </li>
        <li class="header-list__item">
          <a class="header-list__link" href="#advantages">About us</a>
        </li>
        <li class="header-list__item">
          <a class="header-list__link" href="#about">How it’s made?</a>
        </li>
        <li class="header-list__item">
          <a class="header-list__link" href="#products">Our products</a>
        </li>
        <li class="header-list__item">
          <a class="header-list__link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="burger-button" data-menu-open>
      <svg class="burger-open" width="20" height="12">
        <use href="./images/sprite.svg#icon-Burger-menu-btn" width="20" heigh="12"></use>
      </svg>
    </button>

    <button type="button" class="header__btn-modal" data-modal-open>
      Buy now<svg class="header__btn-logo" width="8" height="8">
        <use href="./images/sprite.svg#icon-vector-btn"></use>
      </svg>
    </button>
  </div>
</header>
