<section class="hero" id="hero">
    <div class="container">
        <p class="hero_pre-title pre-title">ice cream made with <span class="section-title">passion</span></p>
        
        <ul class="hero_site_link link">
            <li>
                <a class="hero__button" href="#products">Products</a>
            </li>
            <li>
                <a class="hero__button" href="#about">How it’s made?</a>
            </li>
        </ul>
        
        <picture class="hero_right-img">
            <source srcset="./images/hero/slider-dek-x1.png 1x, ./images/hero/slider-dek-x2.png 2x" media="(min-width:1280px)">
            <source srcset="./images/hero/slider-tab-x1.png 1x, ./images/hero/slider-tab-x2.png 2x" media="(min-width:768px)">
    
            <img src="./images/hero/slider-tab-x1.png" alt="milk-jug"/>
        </picture>

        <p class="hero_item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et    
        </p>

        <button></button>

        <div class="hero_main-img">
            <picture>
                <source srcset="./images/hero/ellipse-dek-x1.png 1x, ./images/hero/ellipse-dek-x2.png 2x" media="(min-width:1280px)">
                <source srcset="./images/hero/ellipse-tab-x1.png 1x, ./images/hero/ellipse-tab-x2.png 2x" media="(min-width:768px)">
                <source srcset="./images/hero/eliipse-mob-x1.png 1x, ./images/hero/eliipse-mob-x2.png 2x" media="(min-width:480px)">

                <img src="./images/hero/eliipse-mob-x1.png" alt="hero-ellipse"/>
            </picture>
            <picture>
                <source srcset="./images/hero/ice-dek-x1.png 1x, ./images/hero/ice-dek-x2.png 2x" media="(min-width:1280px)">
                <source srcset="./images/hero/ice-tab-x1.png 1x, ./images/hero/ice-tab-x2.png 2x" media="(min-width:768px)">
                <source srcset="./images/hero/ice-mob-x1.png 1x, ./images/hero/ice-mob-x2.png 2x" media="(min-width:480px)">

                <img src="./images/hero/ice-mob-x1.png" alt="ice-cream"/>
            </picture>
        </div>
        <ul class="shop-points">
            <li>
            <p class="shop-points-numbers">16</p>
            <p class="shop-points-text">cafes</p>
            </li>
            <li>
            <p class="shop-points-numbers">23</p>
            <p class="shop-points-text">food trucks</p>
            </li>
        </ul>
        <picture class="hero_left-img">
            <source srcset="./images/hero/girl-dek-x1.png 1x, ./images/hero/girl-dek-x2.png 2x" media="(min-width:1280px)">
            <source srcset="./images/hero/girl-tab-x1.png 1x, ./images/hero/girl-tab-x2.png 2x" media="(min-width:768px)">
    
            <img src="./images/hero/girl-tab-x1.png" alt="happy_girl"/>
        </picture>

    </div>
</section>