<div class="backdrop is-hidden" data-map>
  <div class="map">
    <button type="button" class="map__btn-close" data-map-close>
      <svg class="map__icon" width="14" height="14">
        <use href="./images/sprite.svg#icon-close-btn"></use>
      </svg>
    </button>
    <map>
      <iframe
        class="map__iframe"
        src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d41037.35151181642!2d36.20209538127632!3d49.995712806631396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x4127a136f284d27f%3A0xa16436d547b0dfa4!2z0KHQsNC80L7QtSDQstC60YPRgdC90L7QtSDQvNC-0YDQvtC20LXQvdC-0LUg0LIg0LzQuNGA0LUsINCy0YPQu9C40YbRjyDQn9GD0YjQutGW0L3RgdGM0LrQsCwgMzAsINCl0LDRgNC60ZbQsiwg0KXQsNGA0LrRltCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDYxMDAw!3m2!1d49.9956615!2d36.2371175!5e0!3m2!1sru!2sua!4v1634073338824!5m2!1sru!2sua"
        width="100%"
        height="481"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </map>
  </div>
</div>
