<div class="backdrop is-hidden" data-menu>
  <div class="burger-menu is-open">
    <div class="burger-menu__container">
      <button type="button" class="burger-menu__btn-close" data-menu-close>
        <svg class="btn-close-svg" width="14" height="14">
          <use href="./images/sprite.svg#icon-close-btn"></use>
        </svg>
      </button>

      <button type="button" class="burger-menu__btn-buy" data-franchise-open>
        <p>Buy now</p>
        <svg class="btn-buy-svg" width="8" height="8">
          <use href="./images/sprite.svg#icon-vector-btn"></use>
        </svg>
      </button>

      <ul class="burger-menu__list list">
        <li class="burger-menu__item">
          <a class="burger-menu__item-link link" href="#hero">Home</a>
        </li>
        <li class="burger-menu__item">
          <a class="burger-menu__item-link link" href="#advantages">About us</a>
        </li>
        <li class="burger-menu__item">
          <a class="burger-menu__item-link link" href="#about">How it’s made?</a>
        </li>
        <li class="burger-menu__item">
          <a class="burger-menu__item-link link" href="#products">Our products</a>
        </li>
        <li class="burger-menu__item">
          <a class="burger-menu__item-link link" href="#contacts">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>
