<section class="products container">
    <div class="section">
    
    <p class="products-above__heading">100% natural</p>
    <h2 class="products-heading">products</h2>

    <ul>
        <li>
              <picture>
                        <source srcset="" media="" type="" />
                        <source srcset="" media="" />
                        <img src="" alt="" />
                </picture>
                <div>
                    <h3>ice cream</h3>
                    <span></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    <button>
                        <svg class="" width="40" height="40">
                            <use href=""></use>
                        </svg>
                    </button>
                </div>
        </li>
        <li>
            <picture>
                <source srcset="" media="" type="" />
                <source srcset="" media="" />
                <img src="" alt="" />
            </picture>
            <div>
                <h3>ice coffee</h3>
                <span></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button>
                    <svg class="" width="40" height="40">
                        <use href=""></use>
                    </svg>
                </button>
            </div>
        </li>
        <li>
            <picture>
                <source srcset="" media="" type="" />
                <source srcset="" media="" />
                <img src="" alt="" />
            </picture>
            <div>
                <h3>milkshakes</h3>
                <span></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button>
                    <svg class="" width="40" height="40">
                        <use href=""></use>
                    </svg>
                </button>
            </div>
        </li>
    </ul>
    
    </div> 
</section>