<section class="products section">
    <div class="container">

        <p class="pre-title">100% natural</p>
        <h2 class="section-title">products</h2>

        <ul class="products__list">
            <li class="products__item">
                <picture>
                    <source srcset="" media="" type="" />
                    <source srcset="" media="" />
                    <img src="" alt="" />
                </picture>

                <div>
                    <h3 class="pre-title assortment">ice cream</h3>
                    <span class="ellipse">0</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et</p>
                    <button>
                        <svg class="" width="40" height="40">
                            <use href=""></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products__item">
                <picture>
                    <source srcset="" media="" type="" />
                    <source srcset="" media="" />
                    <img src="" alt="" />
                </picture>

                <div>
                    <h3 class="pre-title assortment">ice coffee</h3>
                    <span>000</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et</p>
                    <button>
                        <svg class="" width="40" height="40">
                            <use href=""></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products__item">
                <picture>
                    <source srcset="" media="" type="" />
                    <source srcset="" media="" />
                    <img src="" alt="" />
                </picture>

                <div>
                    <h3 class="pre-title assortment">milkshakes</h3>
                    <span>ooo</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et</p>
                    <button>
                        <svg class="" width="40" height="40">
                            <use href=""></use>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>

    </div>
</section>