<section class="products-section" id="products">
  <div class="container">
    <p class="pre-title">100% natural</p>
    <h2 class="section-title">products</h2>

    <ul class="products__list list">
      <li class="products__item">
        <div class="products__item-card-cream">
          <h3 class="pre-title-assortment">ice cream</h3>
          <ul class="dots__list list">
            <li class="dots__item">
              <span class="dots"></span>
            </li>
            <li class="dots__item">
              <span class="dots"></span>
            </li>
            <li class="dots__item">
              <span class="dots"></span>
            </li>
          </ul>
          <p class="products__item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
            <span class="products__item-text-span">. dolore magna aliqua facilisis.</span>
          </p>
          <button type="button" class="products__btn"></button>
        </div>
      </li>
      <li class="products__item">
        <div class="products__item-card-coffee">
          <h3 class="pre-title-assortment">ice coffee</h3>
          <ul class="dots__list list">
            <li class="dots__item">
              <span class="dots"></span>
            </li>
            <li class="dots__item">
              <span class="dots"></span>
            </li>
            <li class="dots__item">
              <span class="dots"></span>
            </li>
          </ul>
          <p class="products__item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
            <span class="products__item-text-span">. dolore magna aliqua facilisis.</span>
          </p>
          <button type="button" class="products__btn"></button>
        </div>
      </li>
      <li class="products__item">
        <div class="products__item-card-milk">
          <h3 class="pre-title-assortment">milkshakes</h3>
          <ul class="dots__list list">
            <li class="dots__item">
              <span class="dots"></span>
            </li>
            <li class="dots__item">
              <span class="dots"></span>
            </li>
            <li class="dots__item">
              <span class="dots"></span>
            </li>
          </ul>
          <p class="products__item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
            <span class="products__item-text-span">. dolore magna aliqua facilisis.</span>
          </p>
          <button type="button" class="products__btn"></button>
        </div>
      </li>
    </ul>
  </div>
</section>
