<section class="reviews" id="reviews">
<div class="container">
  <div class="multiple-items">
    <div>
      <img
        src="/images/customer/foto1.png"
        alt="foto"
        srcset="/images/customer/foto1-2x.png 2x"
        class="reviews-img"
      />
      <div class="slider">
        <div class="slider-text-wrapper">
          <p class="slider-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>

      <p class="reviews-pretext">Emily, Los Angeles</p>
    </div>
    <div>
      <img
        src="/images/customer/foto2.png"
        alt="foto"
        srcset="/images/customer/foto2-2x.png 2x"
        class="reviews-img"
      />
      <div class="slider">
        <div class="slider-text-wrapper">
          <p class="slider-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>
      <p class="reviews-pretext">Erica, New York</p>
    </div>
    <div>
      <img
        src="/images/customer/foto3.png"
        alt="foto"
        srcset="/images/customer/foto3-2x.png 2x"
        class="reviews-img"
      />
      <div class="slider">
        <div class="slider-text-wrapper">
          <p class="slider-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>

      <p class="reviews-pretext">Laura, Miami</p>
    </div>
  </div>
</div>
</section>