.back_to_top {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 40px;
  width: 40px;
  height: 40px;
  border-color: transparent;
  border-radius: 50%;
  background-color: rgba(212, 20, 67, 0.3);

  &:focus,
  &:hover {
    background-color: rgba(212, 20, 67, 0.7);
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &::before {
    width: 5px;
    height: 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: rgba(255, 255, 255, 1);
  }
  &::after {
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: 5px solid rgba(255, 255, 255, 1);
    border-left: 5px solid rgba(255, 255, 255, 1);
  }
}

.back_to_top-show {
  display: block;
}
