.map {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 481px;

  width: 528px;
  background-color: #fff5f6;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  transform: translate(-50%, -50%);
  transition: transform var(--main-time-anime) var(--main-anime);
  padding: 40px;
  .backdrop .backdrop.is-hidden & {
    transform: translate(-50%, -50%);
  }

  @media screen and (max-width: 1199px) {
    width: 450px;
  }

  @media screen and (max-width: 479px) {
    width: 100%;
    padding: 30px;
  }
}

.map__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-size: contain;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--title-text-color);
  &:hover,
  &:focus {
    background-color: var(--btn-dark-bg-hov-foc);
  }
}

.map__iframe {
  border-radius: 24px;
  border: 2px solid var(--pre-title-text-color);
}
