.advantages {
  background-color: var(--pink-section-bg);
}
.advantages__image {
  margin-bottom: 16px;
}
.advantages__pre-text {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: var(--title-text-color);
}
.advantages__text {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.66;
  color: var(--third-text-color);
  max-width: 230px;
}
.advantages__item {
  &:not(:last-child) {
    margin-bottom: 38px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__text {
    font-size: 14px;
    line-height: 1.71;
    max-width: 180px;
  }
  .advantages__pre-text {
    font-size: 48px;
    line-height: 1.14;
    margin-bottom: 13px;
  }
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -60px;
    margin-top: -60px;
  }
  .advantages__item {
    flex-basis: calc((100% - 180px) / 3);
    margin-left: 60px;
    margin-top: 60px;
    &:not(:last-child) {
      margin-bottom: unset;
    }
  }
  .advantages__image {
    margin-bottom: 36px;
  }
}
@media screen and(min-width:1280px) {
  .advantages__text {
    font-size: 16px;
    line-height: 1.75;
    max-width: 330px;
  }
  .advantages__pre-text {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 15px;
  }
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .advantages__item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
  .advantages__image {
    margin-bottom: 40px;
  }
}
