.gallery {
  background-image: linear-gradient(
    to bottom,
    #fff5f6 0%,
    #fff5f6 38.75%,
    #ffffff 39.25%,
    #ffffff 100%
  );
  padding-top: 50px;
  padding-bottom: 80px;

  @media screen and (min-width: 768px) {
    padding-top: 140px;
    padding-bottom: 120px;
    background-image: linear-gradient(
      to bottom,
      #fff5f6 0%,
      #fff5f6 46.75%,
      #ffffff 39.25%,
      #ffffff 100%
    );

    @media screen and (min-width: 1280px) {
      background-image: linear-gradient(
        to bottom,
        #fff5f6 0%,
        #fff5f6 45.25%,
        #ffffff 39.25%,
        #ffffff 100%
      );
    }
  }
}

.gallery__picture {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
