.header-list__link-current {
  color: var(--accent-text-color);
}
.header {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 6px;
  @media screen and (min-width: 768px) {
    padding-top: 37px;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: none;
  @media screen and (min-width: 1280px) {
    display: flex;
  }
}

.header-list__item:not(:last-child) {
  margin-right: 35px;
}
.header-list__link {
  display: inline-block;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.burger-button {
  border: none;
  cursor: pointer;
  color: var(--accent-text-color);
  background-color: transparent;
  margin-left: auto;

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.header__btn-modal {
  display: none;
  align-items: center;
  padding-left: 37px;
  width: 160px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--accent-text-color);
  background: rgba(255, 255, 255, 1);

  border-radius: 22px;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--btn-light-bg-hov-foc);
  }

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 30px;
  }
}

.header__btn {
  display: none;
  padding-top: 38px;
  @media screen and (min-width: 740px) {
    display: flex;
  }
  @media screen and (min-width: 1280px) {
    margin-left: auto;
  }
  @media screen and (min-width: 1280px) {
    margin-left: auto;
  }
}

.header__btn-logo {
  margin-left: 5px;
}
.header__logo{
  animation-duration: 1000ms;
&:hover {
  animation: shake-logo 600ms cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
}
