.current {
  color: var(--accent-text-color);
}
.header {
    position: fixed;
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: violet;
  }

  .header__logo {

      padding-top: 6px;
      @media screen and (min-width: 740px) {
        padding-top: 37px;
        margin-right: auto;
        
      }
  }
  .header-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
  }
  .header-list {
    display: none;
    @media screen and (min-width: 1280px) {
      display: flex;
    }
  }

  .header-list__item:not(:last-child) {
    margin-right: 35px;
  }
  .header-list__link {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    
    color: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      color: var(--accent-text-color);
    }
  }
  .header__btn {
      display: none;
      padding-top: 38px;
      @media screen and (min-width: 740px) {
        display: flex;
        margin-left: auto;
      }
  }
  .header__btn-modal {
      display: flex;
      align-items: center;
      padding-left: 37px;
    width: 160px;
    height: 44px;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: var(--accent-text-color);
    background: rgba(255, 255, 255, 1);
    
    border-radius: 22px;
    background-color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &::after {
        content: "";
        display: block;
        width: 4px;
        height: 8px;
        margin-left: 12px;
        background-image: url();
        background-size: contain;
      }
    &:hover,
    &:focus {
        background-color: var(--btn-light-bg-hov-foc);
  }
}