.hero {
  position: relative;
  z-index: 1;
  padding-top: 137px;
  padding-bottom: 203px;
  background-color: #ffb8ca;

  &-left {
    display: flex;
    flex-wrap: wrap;
  }
  &-right {
    display: none;
  }
  &_left-img {
    display: none;
  }
  &_item-text {
    display: none;
  }
}

.hero_main-img {
  position: absolute;
  z-index: -5;
  right: 0;
  // top: 89px;
  bottom: 75px;
}
.hero-ice {
  position: absolute;
  right: 32px;
  bottom: -75px;
}

.hero_title {
  max-width: 218px;
  color: var(--secondary-text-color);
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: calc(30 / 26);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    max-width: 162px;
    font-size: 22px;
    line-height: calc(25 / 22);
  }
  @media screen and (min-width: 1280px) {
    max-width: 277px;
    font-size: 38px;
    line-height: calc(44 / 38);
  }
  &.feature {
    color: var(--accent-text-color);
    font-size: 48px;
    line-height: calc(46 / 48);
    @media screen and (min-width: 768px) {
      font-size: 34px;
      line-height: calc(31 / 34);
    }
    @media screen and (min-width: 1280px) {
      font-size: 58px;
      line-height: calc(52 / 58);
    }
  }
}

.hero_site_links {
  display: flex;
  margin-top: 19px;
  @media screen and (min-width: 768px) {
    margin-top: 20px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 25px;
  }
}

.hero_button {
  display: flex;
  width: 61px;
  height: 24px;
  font-weight: 700;
  font-size: 8px;
  line-height: calc(10 / 8);
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: #d41443;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #c7133e;
  }

  &.about_link {
    background-color: #ffffff;
    color: #d41443;
    width: 83px;
    margin-left: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: #ecebeb;
    }
  }
}

.hero-right {
  display: none;
}
.hero_right-img {
  display: none;
}
.hero_left-img {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero_right-img {
    display: unset;
    position: absolute;
    bottom: 0;
    right: 34px;
    animation-duration: 1000ms;
  }
  .container_hero {
    position: relative;
    z-index: 1;
  }
  .hero_left-img {
    display: unset;
    animation-duration: 1000ms;
  }
  .hero_item-text {
    max-width: 114px;
    margin-bottom: 7px;
    display: unset;
    max-width: 130px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: calc(12 / 8);
    color: var(--secondary-text-color);
    @media screen and (min-width: 1280px) {
      max-width: 200px;
      font-size: 14px;
      line-height: calc(20 / 14);
    }
  }
  .hero_main-img {
    position: absolute;
    z-index: -2;
    // top: 25px;
    bottom: 46px;
    right: 137px;
  }
  .hero {
    position: unset;
    padding-top: 15px;
    padding-bottom: unset;
    // min-height: 399px;
  }
  .hero-ice {
    position: absolute;
    right: 110px;
    // top: 32px;
    // bottom: unset;
    bottom: -46px;
  }
  .hero__left-image-wrapper {
    display: flex;
    align-items: center;
  }
  .hero__button-container {
    margin-bottom: 19px;
    margin-top: 102px;
  }
  .hero-right {
    display: unset;
  }
  .shop-points-numbers {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: calc(32 / 28);
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
    @media screen and (min-width: 1280px) {
      font-size: 46px;
      line-height: calc(53 / 46);
    }
    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      left: 42px;
      top: -4px;
      background-color: #ffffff;
      z-index: -3;
      @media screen and (min-width: 1280px) {
        width: 30px;
        height: 30px;
        left: 65px;
        top: -5px;
      }
    }
  }
  .shop-points-text {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    color: #ffffff;
  }
  .hero__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .hero__right-first {
    position: relative;
    margin-bottom: 14px;
  }
  .hero__right-second {
    position: relative;
  }
  .hero__arrow-button {
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #ffffff;
    background-image: url(../images/arrow.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hero__arrow-button-wrapper {
    display: flex;
    flex-direction: column;
  }
  .hero_site_links {
    margin-bottom: 19px;
  }
}
@media screen and(min-width:1280px) {
  .hero {
    padding-top: 84px;
    padding-bottom: 45px;
    min-height: 665px;
  }
  .shop-points-numbers {
    font-size: 46px;
    line-height: 1.15;
  }
  .shop-points-text {
    font-size: 14px;
    line-height: 1.28;
  }
  .hero_main-img {
    // top: 17px;
    bottom: 50px;
    right: 200px;
  }

  .hero-ice {
    position: absolute;
    right: 110px;
    // top: 32px;
    // bottom: unset;
    bottom: -95px;
  }
  // .hero__right-ellipse {
  //   width: 30px;
  //   height: 30px;
  //   right: -10px;
  //   top: -4px;
  //   z-index: -3;
  // }
  .hero__right-first {
    margin-bottom: 18px;
  }
  .hero_right-img {
    // top: 374px;
    bottom: -45px;
    right: 0;
  }
  .hero_site_links {
    margin-bottom: 56px;
  }
  .hero__arrow-button {
    width: 26px;
    height: 26px;
  }
  .hero_item-text {
    margin-bottom: 20px;
  }
}
