.burger-menu {
  pointer-events: none;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;

  height: 100vh;
  width: 250px;

  padding: 60px 0;
  background-color: #e17992;

  overflow: auto;
  opacity: 0;
  visibility: hidden;
  &.is-open {
    display: flex;
    opacity: 1;
    visibility: visible;
    pointer-events: unset;
    justify-content: space-between;
  }

  @media screen and (min-width: 768px) {
    width: 255px;
  }
}

.burger-menu__container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  @media screen and (min-width: 768px) {
    padding: 0 25px;
    margin: 0 auto;
  }
}

.burger-menu__btn-close {
  position: absolute;
  top: -50px;
  right: 10px;

  background-color: transparent;
  cursor: pointer;

  width: 40px;
  height: 40px;
  padding: 10px 0;
}

.burger-menu__btn-buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 208px;
  padding: 12px 55px;
  border: none;
  border-radius: 22px;

  color: var(--title-text-color);
  background-color: #fff;

  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  @media screen and (min-width: 768px) {
    width: 186px;
  }
}

.burger-menu__list {
  margin-top: 32px;
}

.burger-menu__item:not(:last-child) {
  margin-bottom: 22px;
}

.burger-menu__item-link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.07;

  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--title-text-color);
  }
}
