.products-section {
  padding-top: 120px;
  padding-bottom: 98px;
  margin: 0 auto;
  @media screen and (min-width: 1280px) {
    padding-top: 127px;
  }
}

.pre-title {
  margin: 0 auto 15px;
  text-align: center;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}

.section-title {
  margin: 0 auto 30px;
  text-align: center;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  @media screen and (min-width: 768px) {
    margin: 0 auto 40px;
    font-style: 48px;
  }
  @media screen and (min-width: 1280px) {
    margin: 0 auto 130px;
    font-size: 58px;
  }
}

.products__list {
  align-items: center;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.products__item {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 600px;
  padding-top: 115px;
  padding-bottom: 41px;

  @media screen and (min-width: 1280px) {
    height: 665px;
    padding-top: 140px;
  }
}

.products__item:not(:last-child) {
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.products__item-card-cream {
  position: relative;
  margin: 0 auto;
  align-items: center;
  min-width: 280px;
  height: 485px;
  border: none;
  border-radius: 24px;
  background-color: #ffb8ca;

  @media screen and (min-width: 768px) {
    margin-right: 20px;
    min-width: 220px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 30px;
    min-width: 330px;
    height: 525px;
  }
  &:before {
    content: '';
    top: -115px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;
    display: block;
    align-items: center;
    background-position: 50%;
    background-size: cover;
    position: absolute;

    background-image: url(../images/products/products1-mob-x1.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/products/products1-mob-x2.png);
    }
    @media screen and (min-width: 768px) {
      width: 220px;
      height: 226px;

      background-image: url(../images/products/products1-tab-x1.png);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products/products1-tab-x2.png);
      }
    }
    @media screen and (min-width: 1280px) {
      width: 330px;
      height: 335px;
      top: -210px;

      background-image: url(../images/products/products1-dek-x1.png);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products/products1-dek-x2.png);
      }
    }
  }
}

.products__item-card-coffee {
  position: relative;
  margin: 0 auto;
  align-items: center;
  min-width: 280px;
  height: 485px;
  border: none;
  border-radius: 24px;
  background-color: #f0d1a5;
  @media screen and (min-width: 768px) {
    margin-right: 20px;
    min-width: 220px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 30px;
    min-width: 330px;
    height: 525px;
  }

  &:before {
    content: '';
    top: -115px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;
    display: block;
    align-items: center;
    background-position: 50%;
    background-size: cover;
    position: absolute;

    background-image: url(../images/products/products2-mob-x1.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/products/products2-mob-x2.png);
    }
    @media screen and (min-width: 768px) {
      width: 220px;
      height: 226px;

      background-image: url(../images/products/products2-tab-x1.png);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products/products2-tab-x2.png);
      }
    }
    @media screen and (min-width: 1280px) {
      width: 330px;
      height: 335px;
      top: -210px;

      background-image: url(../images/products/products2-dek-x1.png);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products/products2-dek-x2.png);
      }
    }
  }
}
.products__item-card-milk {
  position: relative;
  margin: 0 auto;
  align-items: center;
  min-width: 280px;
  height: 485px;
  border: none;
  border-radius: 24px;
  background-color: #c2e297;
  @media screen and (min-width: 768px) {
    min-width: 220px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 330px;
    height: 525px;
  }

  &:before {
    content: '';
    top: -115px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;
    display: block;
    align-items: center;
    background-position: 50%;
    background-size: cover;
    position: absolute;

    background-image: url(../images/products/products3-mob-x1.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/products/products3-mob-x2.png);
    }
    @media screen and (min-width: 768px) {
      width: 220px;
      height: 226px;

      background-image: url(../images/products/products3-tab-x1.png);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products/products3-tab-x2.png);
      }
    }
    @media screen and (min-width: 1280px) {
      width: 330px;
      height: 335px;
      top: -210px;

      background-image: url(../images/products/products3-dek-x1.png);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products/products3-dek-x2.png);
      }
    }
  }
}

.pre-title-assortment {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;

  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 160px;

  @media screen and (min-width: 1280px) {
    padding-top: 210px;
    font-size: 30px;
    line-height: 1.13;
  }
}

.dots__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.dots__item:not(:last-child) {
  margin-right: 4px;
}

.dots {
  display: block;
  margin: 0 auto 30px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ffffff;
}

.products__item-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 0 40px;
  height: auto;
  margin: 0 auto 30px;

  @media screen and (min-width: 768px) {
    padding: 0 15px;
    line-height: 1.76;
  }
  @media screen and (min-width: 1280px) {
    padding: 0 40px;
    font-size: 16px;
    line-height: 1.75;
    margin: 0 auto 30px;
  }
}

.products__item-text-span {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.products__btn {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #fff;
  background-image: url(../images/arrow.png);
  background-size: cover;
  background-repeat: no-repeat;
}
